/* src/app/shared/components/navbar/navbar.component.scss */

:host {
  display: block;
  background-color: var(--arena-isotype); /* Navbar de color Crema Oscuro */
  border-bottom: 3px solid var(--support-verde); /* Verde Crecimiento */
  box-shadow: 0 4px 12px rgba(11, 37, 69, 0.08);
}

.petstep-navbar {
  padding: 0.5rem 2rem; /* Reducimos padding vertical para balancear el nuevo tamaño del logo */
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.nav-brand {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03); /* Efecto sutil de pulsación al pasar sobre el logo */
  }
}

.navbar-logo-img {
  height: 65px; /* Ajuste a tamaño grande y visible */
  width: auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2.5rem; /* Mayor separación para elegancia */
  margin: 0;
  padding: 0;

  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Separación del icono y el texto */
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 600;
    font-size: 1.05rem;
    padding: 0.6rem 0.2rem;
    position: relative; /* Necesario para la línea decorativa inferior */
    transition: color 0.2s ease;

    .nav-icon {
      font-size: 1.15rem;
      transition: transform 0.2s ease;
    }

    // Creación de la línea interactiva elegante debajo de los links
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--secondary-azul); /* Azul Eléctrico */
      transition: width 0.3s ease;
    }

    &:hover {
      color: var(--secondary-azul);
      
      .nav-icon {
        transform: translateY(-2px); /* Pequeño salto animado del icono */
      }

      &::after {
        width: 100%; /* Despliega la línea al hacer hover */
      }
    }

    // Estilo cuando la ruta de Angular está activa de forma nativa
    &.active-link {
      color: var(--secondary-azul);
      font-weight: 700;

      &::after {
        width: 100%;
        height: 3px; /* Línea un poco más gruesa en el estado activo */
      }
    }
  }
}

.btn-nav-login {
  background-color: var(--secondary-azul); /* Azul Eléctrico */
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  box-shadow: 0 4px 6px rgba(0, 75, 255, 0.15);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary-rojo); /* Cambia a Rojo Esperanza */
    box-shadow: 0 4px 10px rgba(255, 130, 0, 0.25);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}