<nav class="petstep-navbar">
  <div class="nav-container">
    
    <a routerLink="/" class="nav-brand">
      <img src="assets/images/logo-transp.png" alt="PetStep Logo" class="navbar-logo-img">
    </a>

    <ul class="nav-menu">
      <li>
        <a routerLink="/conocenos" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">✨</span>
          <span class="nav-text">Conócenos</span>
        </a>
      </li>
      
      <li>
        <a routerLink="/mascotas" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">🐱</span>
          <span class="nav-text">Mascotas</span>
          <span class="nav-icon">🐶</span>
        </a>
      </li>
      
      <li>
        <a routerLink="/adoption" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">📝</span>
          <span class="nav-text">Formularios</span>
        </a>
      </li>

      <li>
        <a routerLink="/registro-mascota" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">🐾</span>
          <span class="nav-text">Registros</span>
        </a>
      </li>

      @if (authService.isLoggedIn()) {
        <li class="nav-item-dropdown" [class.open]="isPlatformMenuOpen">
          <a (click)="togglePlatformMenu($event)" class="nav-item platform-trigger" style="cursor: pointer;">
            <span class="nav-icon">💻</span>
            <span class="nav-text">Plataforma</span>
            <span class="dropdown-arrow">{{ isPlatformMenuOpen ? '▲' : '▼' }}</span>
          </a>
          
          @if (isPlatformMenuOpen) {
            <ul class="dropdown-submenu">
              <li>
                <a routerLink="/trazabilidad" routerLinkActive="active-sub-link">
                  📍 Trazabilidad
                </a>
              </li>
              <li>
                <a routerLink="/adopt-responsable" routerLinkActive="active-sub-link">
                  📋 Pasos de Adopción
                </a>
              </li>
              <li>
                <a routerLink="/solicitudes" routerLinkActive="active-sub-link">
                  ✅ Aprobar solicitudes
                </a>
              </li>
            </ul>
          }
        </li>
      }
    </ul>

    <div class="nav-actions">
      <button class="btn-nav-login" (click)="toggleLogin()">
        <span>{{ authService.isLoggedIn() ? '🚪' : '🔑' }}</span>
        {{ authService.isLoggedIn() ? 'Cerrar Sesión' : 'Iniciar Sesión' }}
      </button>
    </div>

  </div>
</nav>