<nav class="petstep-navbar">
  <div class="nav-container">
    
    <a routerLink="/" class="nav-brand">
      <img src="assets/images/logo-transp.png" alt="PetStep Logo" class="navbar-logo-img">
    </a>

    <ul class="nav-menu">
      <li>
        <a routerLink="/mascotas" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">🐾</span>
          <span class="nav-text">Mascotas</span>
        </a>
      </li>
      <li>
        <a routerLink="/conocenos" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">✨</span>
          <span class="nav-text">Conócenos</span>
        </a>
      </li>
      <li>
        <a routerLink="/adopciones" routerLinkActive="active-link" class="nav-item">
          <span class="nav-icon">🏠</span>
          <span class="nav-text">Adopciones</span>
        </a>
      </li>
    </ul>

    <div class="nav-actions">
      <button class="btn-nav-login">
        <span>🔑</span> Iniciar Sesión
      </button>
    </div>

  </div>
</nav>